.article1 {
    background: burlywood;
    font-family: sans-serif;
    font-size: larger;
    color: greenyellow;
    line-height: 8mm;
    padding: 15mm;
    border-radius: 70px 70px 70px 70px;
}

.article2 {
    background: beige;
    font-family: Helvetica;
    font-size: medium;
    color: blueviolet;
    line-height: 4mm;
    padding: 12mm;
    border-radius: 50px 50px 50px 50px;
}

.article3 {
    background: gray;
    font-family: Arial;
    font-size: large;
    color: orange;
    line-height: 18mm;
    padding: 8mm;
    border-radius: 15px 50px;

}

.article4 {
    background: darkcyan;
    font-family: Impact;
    font-size: smaller;
    color: coral;
    line-height: 15mm;
    padding: 3mm;
    border-radius: 15px 50px 30px;

}

.article5 {
    background: salmon;
    font-family: inherit;
    font-size: small;
    color: darkred;
    line-height: 12mm;
    padding: 15mm;
    border-radius: 15px 50px 30px 5px;
}